EPAGriffinAPI/Connected Services/IdeaServiceRef/TrainingWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPersonnelData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personnelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ideaAuthToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonnelDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonnelDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainingDurationSum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="personnelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainingDurationSumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrainingDurationSumResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonnelDataByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonnelCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPersonnelDataByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPersonnelDataByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPersonnelDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonnelData" />
  </wsdl:message>
  <wsdl:message name="GetPersonnelDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonnelDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrainingDurationSumSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrainingDurationSum" />
  </wsdl:message>
  <wsdl:message name="GetTrainingDurationSumSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrainingDurationSumResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetPersonnelDataByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetPersonnelDataByDate" />
  </wsdl:message>
  <wsdl:message name="GetPersonnelDataByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetPersonnelDataByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="TrainingWSSoap">
    <wsdl:operation name="GetPersonnelData">
      <wsdl:input message="tns:GetPersonnelDataSoapIn" />
      <wsdl:output message="tns:GetPersonnelDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDurationSum">
      <wsdl:input message="tns:GetTrainingDurationSumSoapIn" />
      <wsdl:output message="tns:GetTrainingDurationSumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelDataByDate">
      <wsdl:input message="tns:GetPersonnelDataByDateSoapIn" />
      <wsdl:output message="tns:GetPersonnelDataByDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrainingWSSoap" type="tns:TrainingWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonnelData">
      <soap:operation soapAction="http://tempuri.org/GetPersonnelData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDurationSum">
      <soap:operation soapAction="http://tempuri.org/GetTrainingDurationSum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelDataByDate">
      <soap:operation soapAction="http://tempuri.org/GetPersonnelDataByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrainingWSSoap12" type="tns:TrainingWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPersonnelData">
      <soap12:operation soapAction="http://tempuri.org/GetPersonnelData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainingDurationSum">
      <soap12:operation soapAction="http://tempuri.org/GetTrainingDurationSum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonnelDataByDate">
      <soap12:operation soapAction="http://tempuri.org/GetPersonnelDataByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrainingWS">
    <wsdl:port name="TrainingWSSoap" binding="tns:TrainingWSSoap">
      <soap:address location="https://192.168.101.33/IdeaWeb/Apps/Services/TrainingWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TrainingWSSoap12" binding="tns:TrainingWSSoap12">
      <soap12:address location="https://192.168.101.33/IdeaWeb/Apps/Services/TrainingWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>